name: Update Dub Schedules

on:
  schedule:
    - cron: '0 * * * *'  # Run every hour
  workflow_dispatch:  # Allows manual triggering

jobs:
  resolve-dub-schedules-and-upload:
    runs-on: self-hosted
    timeout-minutes: 10

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Cache Node.js modules
      uses: actions/cache@v3
      with:
        path: |
          node_modules
          ~/.npm
        key: dub-schedules-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          dub-schedules-

    - name: Install dependencies
      run: npm ci

    - name: Run Node.js script
      env:  # Pass the secret as an environment variable
        ANIMESCHEDULE_TOKEN: ${{secrets.ANIMESCHEDULE_TOKEN}}
        ANILIST_TOKEN: ${{secrets.ANILIST_TOKEN}}
      run: node index.js update-dubs

    - name: Commit and push JSON files
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        
        if [ -f changes.txt ] && [ -s changes.txt ]; then
          echo "Changes were made to the episode feed(s) in this run... attempting to commit these new changes."
          git add './raw/dub-schedule.json' './readable/dub-schedule-readable.json' './custom/custom-dubs.json' './raw/dub-episode-feed.json' './readable/dub-episode-feed-readable.json'
        else
          git add './raw/dub-schedule.json' './readable/dub-schedule-readable.json' './custom/custom-dubs.json'
        fi
        
        title="(Dub) Updated Airing Schedule"
        if [ -f changes.txt ] && [ -s changes.txt ]; then
        git commit -m "$title" -m "$(cat changes.txt)" || exit 0
        else
        git commit -m "$title" || exit 0
        fi
        
        git pull --rebase
        git push